# Data Types & Structures

## Theoretical Questions

1. What are data structures, and why are they important?
  - Data structures are ways of organizing and storing data to perform operations efficiently.
They are important because they:

      - Improve data processing efficiency

      - Help manage large amounts of data

      - Enable faster algorithms (searching, sorting, etc.)

2.  Explain the difference between mutable and immutable data types with examples.

  - Mutable: Can be changed after creation
      
      Examples: list, dict, set

  - Immutable: Cannot be changed after creation
      
      Examples: tuple, str, int

3. What are the main differences between lists and tuples in Python?

  - Lists are mutable, while tuples are immutable.

  - Lists use square brackets, while tuples use round brackets.

  - Lists are used for changing data, whereas tuples are used for fixed data.

  - Lists are slower, while tuples are faster.

4. Describe how dictionaries store data.
  - Dictionaries store data as key-value pairs, like:

      person = {"name": "Alice", "age": 30}

  - Keys are unique and used to access their associated values.

5. Why might you use a set instead of a list in Python?

  - We use a set when:

      - We need unique values only

      - We want fast membership testing (in)

      - We don’t care about order

6. What is a string in Python, and how is it different from a list?

  - A string is a sequence of characters (e.g., "hello")

  - A list can hold multiple data types (e.g., [1, "a", 3.5])

  - Strings are immutable, lists are mutable

7. How do tuples ensure data integrity in Python?

  - Tuples are immutable, so once created, their content can't be changed.
This makes them ideal for fixed data that shouldn’t be modified, like coordinates.

8. What is a hash table, and how does it relate to dictionaries in Python?

  - A hash table stores key-value pairs using a hash function.
Python dictionaries are built on hash tables, allowing constant time (O(1)) lookups.

9. Can lists contain different data types in Python?

  - Yes! Python lists are heterogeneous:

In [3]:
my_list = [1, "hello", True, 3.14]

10. Explain why strings are immutable in Python.

  - Strings are immutable for:

      - Security (e.g., safe for use as keys)

      - Performance (interning and memory optimization)

      - Thread safety

11. What advantages do dictionaries offer over lists for certain tasks?

  - Faster lookups with keys

  - Data access by meaningful identifiers, not index

  - Better structure for mapping relationships

12. Describe a scenario where using a tuple would be preferable over a list.

  - When we want:

      - Fixed data that shouldn't change

      - To use it as a dictionary key

      - Better performance (less memory, faster access)

13. How do sets handle duplicate values in Python?

  - Sets automatically eliminate duplicates:

In [2]:
set([1, 2, 2, 3])

{1, 2, 3}

14. How does the in keyword work differently for lists and dictionaries?

  - In lists, it checks if a value exists.

  - In dicts, it checks if a key exists.

15.  Can you modify the elements of a tuple? Explain why or why not.

  - No. Tuples are immutable, so elements cannot be changed after creation.
Trying to do so raises a TypeError.

16. What is a nested dictionary, and give an example of its use case.

  - A nested dictionary is a dictionary inside another dictionary.

      For example:

In [1]:
student = {
    "name": "Alice",
    "grades": {"math": 90, "science": 85}
}

17. Describe the time complexity of accessing elements in a dictionary.

  - Accessing an item by key is O(1) on average due to the hash table structure.

18.  In what situations are lists preferred over dictionaries?

  - When order matters

  - When working with simple collections

  - When you don’t need key-value pairs

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  - Before Python 3.7, dictionaries didn’t maintain insertion order.
From Python 3.7+, they do maintain order, but conceptually they’re still about key-value access, not position.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.

  - Lists can be accessed by item indexes, while dictionaries can be accessed by keys.

  - Lists have the time complexity of O(n) and are therefore slower than dictionaries which have the time complexity of O(1).

  - Lists have a sequential structure, while dictionaries have key-value mappings.

## Practical Questions

1. Write a code to create a string with your name and print it.

In [1]:
name = "Semal"
print(name)

Semal

2. Write a code to find the length of the string "Hello World".

In [2]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
s = "Python Programming"
print(s[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
text = "hello"
print(text.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
person = {"name": "Alice", "age": 30, "city": "London"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'London'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [22]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [24]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [25]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [26]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.

In [27]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[4, 5, 22, 83, 97]

28. Write a code to create a list with strings and print the element at the third index.

In [28]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [29]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [30]:
my_list = ["apple", "banana", "apple", "cherry"]
my_set = set(my_list)
print(my_set)

{'apple', 'cherry', 'banana'}